<!doctype html>
<html lang="ru" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>
        {% if title %}
          {{ title }}
        {% else %}
          Лабораторная работа № 2
        {% endif %}
    </title>
</head>
<body class="h-100">

    <div class="h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">Лабораторная работа № 2</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('index') }}">База</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'args' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('args', arg_1='val_1', arg_2='val_2') }}">Параметры URL</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'headers' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('headers') }}">Заголовки</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'cookies' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('cookies') }}">Печеньки</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'form' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('form') }}">Ввод</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'tel_check' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('number_form') }}">Телефон</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container my-5">
            {% block content %}
              <h1>Содержимое по умолчанию</h1>
            {% endblock %}
        </div>
            <footer class="d-flex justify-content-center text-white bg-dark mt-auto ">
                <h2 >Балдуев Никита 191-352</h2>
            </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>

</html>
