{% extends 'base.html' %}

{% block content %}
<form method="POST" class=" mt-5">
    <div class="form-row">
        <div class="col">
            <input name="number" type="text" class="form-control {% if error_number %}is-invalid{% endif %}" placeholder="number"
                value="{% if number_num %}{{ number_num }}{% endif %}" required>
            {% if error_number %}
            <div class="invalid-feedback">
                {{ error_number }}
            </div>
            {% endif %}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">check</button>
        </div>
    </div>
</form>
{% endblock %}