<!doctype html>
<html lang="ru" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

   

    <title>
        {% if title %}
          {{ title }}
        {% else %}
          Лабораторная работа № 3
        {% endif %}
    </title>
</head>
<body class="h-100">

    <div class="h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">Лабораторная работа № 3</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                    data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('index') }}">Начальная страница</a>
                        </li>
                        <li class="nav-item {% if request.endpoint == 'visits' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('visits') }}">Счетчик посещений
                                </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item {% if request.endpoint == 'secret_page' %}active{% endif %}">
                            <a class="nav-link" href="{{ url_for('secret_page') }}">Секретная страница
                                </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if current_user.is_authenticated %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                            {% else %}
                            <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
                            {% endif %}
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </nav>
        <div class="mt-3 mx-auto">
        {% with messages=get_flashed_messages(with_categories=true) %}
            {% for category, msg in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
        {% endwith %}
        </div>
        <div class="container my-5">
            {% block content %}
              <h1>Содержимое по умолчанию</h1>
            {% endblock %}
        </div>
            <footer class="d-flex justify-content-center text-white bg-dark mt-auto ">
                <h2 >Балдуев Никита 191-352</h2>
            </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>

</html>
